# Python & Environnement
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Données locales & Cache
data/
!data/.gitkeep

# IDE & Editeurs
.vscode/
.idea/
.DS_Store

# Environnement et Secrets
.env

# Sauvegardes et Paquets
backups/
*.tar.gz
dist/
*.zip
